/* @media screen and (max-width: 768px) { */


  #a {
    grid-column: span 1/2;
    width: 480px;
    height: 75px;
    text-align: center;
    background-color: orange;
    
  }
  #b {
    
    width: 480px;
    height: 150px;
    text-align: center;
    background-color: violet;
    
  }
  #c {
    
    width: 480px;
    height: 125px;
    text-align: center;
    background-color: rgb(196, 75, 28);
  }
  #d {
    
    width: 480px;
    height: 125px;
    text-align: center;
    background-color: rgb(47, 177, 127);
    
  }

  /* .collapse1{
    margin: auto;
    float: left;
  }
  .collapse2{
    margin: auto;
    float: right;
  } */

  #e {
    /* grid-row-start: 
    grid-row-end: */
    width: 240px;
    height: 250px;
    text-align: center;
    background-color: coral;
    

  }
  #f {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 7;
    width: 240px;
    height: 250px;
    text-align: center;
    background-color: yellow;
    
    
    
  }
  #g {

    width: 240px;
    height: 250px;
    text-align: center;
    background-color: green;
    
    
  }
  #h {
    width: 240px;
    height: 250px;
    text-align: center;
    background-color: rgb(167, 115, 128);
    
    
  }
  #i {
    width: 480px;
    height: 80px;
    text-align: center;
    background-color: red;
    /* clear: both; */
    }
  /* } */


